body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
}

section {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Giúp căn chỉnh các phần tử form ở giữa */
}

button {  /* Sửa lại thành button */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: auto; /* Chỉnh kích thước vừa đủ */
    max-width: 200px;
    height: auto;
    margin-top: 10px; /* Cách form một chút */
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Ẩn thông báo lỗi mặc định */
}

input.error, textarea.error {
    border: 1px solid red;
}

